@if (ViewData.ModelState.ErrorCount > 0)
{
    <div style="padding-top: 15px;"></div>
    
    <div class="alert alert-danger col-sm-12">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <h3 style="padding-top: 20px;">Algo deu muito Errado! :(</h3>
        <div style="padding-top: 20px;" asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
        
}